:root {
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f6f8fb;
  --color-neutral-100: #edf1f6;
  --color-neutral-300: #c6cfdb;
  --color-neutral-600: #5a6778;
  --color-neutral-800: #263244;
  --color-neutral-900: #121b2a;
  --color-neutral-950: #080e1c;

  --color-blue-400: #668cff;
  --color-blue-500: #4c7eff;
  --color-blue-700: #2447ad;
  --color-blue-950: #081635;

  --color-green-300: #65e7c2;
  --color-green-500: #22bd91;
  --color-green-800: #0a5d4c;
  --color-green-950: #062c28;

  --color-focus: #73a0ff;
}