@font-face {
  font-family: 'Lora';
  src: url('../../assets/fonts/lora/lora-regular.ttf')
  format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/raleway/raleway-regular.ttf')
  format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gabarito';
  src: url('../../assets/fonts/gabarito/Gabarito-VariableFont_wght.ttf')
  format('truetype-variations');
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

:root {
  --font-lora: 'Lora', Georgia, serif;
  --font-raleway: 'Raleway', Arial, sans-serif;
  --font-gabarito: 'Gabarito', Arial, sans-serif;

  --font-display: var(--font-lora);
  --font-heading: var(--font-gabarito);
  --font-body: var(--font-raleway);
}
